@page "/unauthorized-square"

<SectionContent SectionId="AppLayout.TopbarSection">
    <div class="uniteled-header-wrap">
        <h2>
            register with any non-existent email, this is just a formality
        </h2>
    </div>
</SectionContent>
<div class="grid-container">
    <div class="unauthorized-container">
        I'm sincerely sorry for the time you're spending analyzing my portfolio 😁
        <br>
        <br>
        <h4>What it is?</h4>
        Cartesian Square - this interactive model leverages four critical questions to evaluate the outcomes of actions and inactions, providing insights into the potential value of each decision:
        <br>
        <ul>
            <li>
                What will happen if this happens? (Positive outcome)
            </li>
            <li>
                What will happen if this doesn’t happen? (Positive outcome)
            </li>
            <li>
                What won’t happen if this happens? (Negative outcome)
            </li>
            <li>
                What won’t happen if this doesn’t happen? (Negative outcome)
            </li>
        </ul>

        Each quadrant not only reveals different perspectives but also ranks them by value, guiding you to identify the most significant implications of your decisions.
        <br>
        <br>
        <h4>It is implemented on this site:</h4>
        <ul>
            <li>
                CRUD
            </li>
            <li>
                Registration (authorization)
            </li>
            <li>
                Navigation
            </li>
            <li>
                Blazor 8
            </li>
        </ul>
        <b>
            To test the functionality of the site: register with any non-existent email, this is just a formality
        </b>
        <br>
        <span>
            I didn't spend time on styles because the main thing is the Blazor itself
        </span>
    </div>
</div>


@code {

}
