@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims

@rendermode InteractiveServer

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ISquareService squereService
@inject NavigationManager navManager

<EditForm Model="Data" OnSubmit="FormHandler" FormName="CreateNewSquare" data-enhance>
    <div class="d-flex">
        <div class="form-group">
            <InputText type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter new square name" @bind-Value="Data.Title" />
        </div>
        <div style="margin: auto 0 0 20px;">
            <button type="submit" class="btn btn-primary">Create new square</button>
        </div>
    </div>
</EditForm>
@code {
    public CreateSquareDto Data { get; set; } = new() { Title = "new square name" };


    public async Task FormHandler()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity.IsAuthenticated)
        {
            Data.UserId = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier)?.Value;
            var res = await squereService.CreateSquareAsync(Data);
            navManager.Refresh();
        }
    }
}